header {
    font-size: 40px;
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 50px;
  }

  a {
    font-size: 15px;
    margin: 0 25px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: #666;
    text-decoration: underline;
  }